<ng-container *ngIf="data">
  <div class="container mt-4">
    <h3 class="card-title mb-4">{{ titleTable }}</h3>
    <table class="table">
      <thead class="table-secondary">
      <tr>
        <ng-container *ngFor="let headerColum of headersColumn">
          <th scope="col">{{ headerColum }}</th>
        </ng-container>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let row of data;"> <!-- loop for row -->
        <tr>
          <!-- loop for column -->
          <ng-container *ngFor="let headerColum of headersColumn">
            <td>{{ row[headerColum] }}</td>
          </ng-container>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>
